.letter-wrapper {
  border: 2px solid black;
  width: 48px;
  height: 32px;

  font-size: large;
  font-weight: bolder;
}

.typing {
  border: 3px solid black;
  background-color: white;
  color: black;
}

.disabled {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.wrong {
  border: 1px solid black;
  background-color: red;
  color: white;
}

.right {
  border: 1px solid black;
  background-color: green;
  color: white;
}

.displaced {
  border: 1px solid black;
  background-color: yellow;
  color: black;
}

.wordlistError {
  border: 3px solid red;
  background-color: white;
  color: black;
}