.header-button {
  background-color: #f4f3f1;
  border: solid 1px #252525;

  font-size: 150%;
}

.app-name {
  font-family: 'Acme', sans-serif;
  font-size: 270%;
}

.letter-green {
  color: #51b36e;
}

.letter-green.colorblind {
  color: #601A4A;
}

.letter-red {
  color: #943e3c;
}

.letter-red.colorblind {
  color: #585858;
}

.letter-yellow {
  color: #c79c2e;
}