.keyboard-button {
  border: solid 1px #252525;
  font-size: 16px;
}

.letter-button {
  width: 8%;
  height: 40px;
}

.action-button {
  padding: 5px;
  width: 20%;
}

.right {
  background-color: #51b36e;
  color: #f4f3f1;
}

.right.colorblind {
  background-color: #648FFF;
}

.right:disabled {
  background-color: rgba(81, 179, 110, 0.65);
}

.right.colorblind:disabled {
  background-color: rgba(100, 143, 255, 0.65);
}

.wrong {
  background-color: #943e3c;
  color: #f4f3f1;
}

.wrong.colorblind {
  background-color: #DC267F;
}

.wrong:disabled {
  background-color: rgba(148, 62, 60, 0.65);
}

.wrong.colorblind:disabled {
  background-color: rgba(220, 38, 127, 0.65);
}

.displaced {
  background-color: #c79c2e;
  color: #f4f3f1;
}

.displaced.colorblind {
  background-color: #FFB000;
}

.displaced:disabled {
  background-color: rgba(199, 156, 46, 0.65)
}

.displaced.colorblind:disabled {
  background-color: rgba(255, 176, 0, 0.65);
}

