.keyboard-button {
  border: solid 1px #252525;
  font-size: 16px;
}

.letter-button {
  width: 8%;
  height: 40px;
}

.action-button {
  padding: 5px;
  width: 20%;
}

.right {
  background-color: #51b36e;
  color: #f4f3f1;
}

.wrong {
  background-color: #943e3c;
  color: #f4f3f1;
}

.displaced {
  background-color: #c79c2e;
  color: #f4f3f1;
}