.keyboard-button {
  border: none;
}

.letter-button {
  width: 8%;
  height: 40px;
}

.action-button {
  padding: 5px;
  width: 20%;
}

.right {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}

.displaced {
  background-color: yellow;
  color: black;
}