.keyboard-button {
  border: solid 1px #252525;
  font-size: 16px;
}

.letter-button {
  width: 8%;
  height: 40px;
}

.action-button {
  padding: 5px;
  width: 20%;
}

.right {
  background-color: #51b36e;
  color: #f4f3f1;
}

.right.colorblind {
  background-color: #2271B2;
}

.right:disabled {
  background-color: rgba(81, 179, 110, 0.65);
}

.right.colorblind:disabled {
  background-color: rgba(34, 113, 178, 0.65);
}

.wrong {
  background-color: #943e3c;
  color: #f4f3f1;
}

.wrong.colorblind {
  background-color: #1d1d1d;
}

.wrong:disabled {
  background-color: rgba(148, 62, 60, 0.65);
}

.wrong.colorblind:disabled {
  background-color: rgba(29, 29, 29, 0.65);
}

.displaced {
  background-color: #c79c2e;
  color: #f4f3f1;
}

.displaced.colorblind {
  background-color: #D55E00;
}

.displaced:disabled {
  background-color: rgba(199, 156, 46, 0.65)
}

.displaced.colorblind:disabled {
  background-color: rgba(213, 94, 0, 0.65);
}

