.overlay-screen {
  position: fixed;
  display: block;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.overlay-wrapper {
  width: 100%;
}

.overlay {
  background-color: #f4f3f1;
  border: 1px solid #252525;
}

@media (min-width: 992px) {
  .overlay {
    width: 63%;
  }

  .overlay-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}